a.back-to-top {
	display: none;
	width: 80px;
    height: 160px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 0px;
	bottom: 20px;
	background:url('../images/back_to_top_button_blue.png') no-repeat center 43% transparent;
	//-webkit-border-radius: 30px;
	//-moz-border-radius: 30px;
	//border-radius: 30px;
}